**<center><font size = "6">Mini-Projeto Pandas - Let's Code<center>**
***
<center><font size = "3">Turma 806 - Grupo 2<center>

<table><tr>
<td> <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQHJlOMD45BJyg/company-logo_200_200/0/1626114016116?e=2159024400&v=beta&t=-iVaZ-QkSebPEmexCQuUdyhmFVmg5u4Cav1wONp5E3s" alt="Lets Code" style="height: 200px;"/> </td>
<td> <img width=200/> </td>
<td> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png" alt="Pandas" style="height: 200px;"/> </td>
</tr></table>

***

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Carregar-dados" data-toc-modified-id="Carregar-dados-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Carregar dados</a></span><ul class="toc-item"><li><span><a href="#Estratégia:" data-toc-modified-id="Estratégia:-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Estratégia:</a></span></li><li><span><a href="#Resultado:" data-toc-modified-id="Resultado:-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Resultado:</a></span></li></ul></li><li><span><a href="#Análise-Quantitativa" data-toc-modified-id="Análise-Quantitativa-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Análise Quantitativa</a></span><ul class="toc-item"><li><span><a href="#Exploração-inicial" data-toc-modified-id="Exploração-inicial-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Exploração inicial</a></span></li><li><span><a href="#Removendo-outliners" data-toc-modified-id="Removendo-outliners-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Removendo outliners</a></span></li><li><span><a href="#Tratando-valores-faltantes" data-toc-modified-id="Tratando-valores-faltantes-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Tratando valores faltantes</a></span></li></ul></li><li><span><a href="#Análise-de-Variáveis-Qualitativa" data-toc-modified-id="Análise-de-Variáveis-Qualitativa-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Análise de Variáveis Qualitativa</a></span></li><li><span><a href="#Separando-os-10%-com-maior-renda" data-toc-modified-id="Separando-os-10%-com-maior-renda-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Separando os 10% com maior renda</a></span></li><li><span><a href="#Gerando-dummies-para-variáveis-categóricas" data-toc-modified-id="Gerando-dummies-para-variáveis-categóricas-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Gerando <em>dummies</em> para variáveis categóricas</a></span><ul class="toc-item"><li><span><a href="#Dummies-gerados" data-toc-modified-id="Dummies-gerados-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Dummies gerados</a></span></li><li><span><a href="#Tabela-completa-com-os-dummies" data-toc-modified-id="Tabela-completa-com-os-dummies-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Tabela completa com os dummies</a></span></li></ul></li><li><span><a href="#Comparando-médias" data-toc-modified-id="Comparando-médias-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Comparando médias</a></span></li></ul></div>

In [1]:
import warnings
warnings.filterwarnings('ignore')

# Carregar dados

Tabelas disponíveis:
- 1_demografico.csv
- 2_renda_gastos.csv
- 3_bens.csv

## Estratégia:

- Em caso de colunas coincidentes unir tabelas pela interceção dos dados.
    - Aplicado na união de **1_demografico.csv** com **2_renda_gastos.csv**.
- Na ausência de colunas coincidentes foi feita a união pelos índices.
    - Aplicado na união da tabela **3_bens.csv** com o restante.{

## Resultado:

Usando as funções definidas em <em>leitura.py</em> as primeiras linhas do Data Frame resultate estão a seguir:

In [2]:
from leitura import carregar_dados

nomes_dos_arquivos = ['1_demografico.csv', '2_renda_gastos.csv', '3_bens.csv']
df = carregar_dados(nomes_dos_arquivos, sep=';')

df.head()

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,...,1,1,0,0,0,2,1,0,0,1
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,...,0,1,0,0,0,3,1,0,0,2
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,...,0,0,0,0,0,0,0,0,0,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,...,0,0,0,0,0,1,0,0,0,0
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,...,1,0,0,0,0,3,0,0,0,1

# Análise Quantitativa

## Exploração inicial

Para as variáveis quantitativas do banco de dados são apresentados os seguintes indicadores:  
- Mínimo;
- Primeiro Quartil;
- Mediana;
- Terceiro Quartil;
- Máximo;
- Média;

Para essa análise foram utilizadas as função <em>gerar_estatisticas_quantitativas</em> definida em <em>analise_quantitativa.py</em>

In [3]:
from analise_quantitativa import gerar_estatisticas_quantitativas

estimadores = ['min','25%','50%','75%','max','mean']
map_nomes_estimadores = {'25%':'primeiro_quantil', 
                        '50%':'mediana',
                        '75%':'terceiro_quantil',
                        'mean':'média'}
                        
gerar_estatisticas_quantitativas(df, 
                                estimadores=estimadores,
                                map_nomes_estimadores=map_nomes_estimadores)

,min,primeiro_quantil,mediana,terceiro_quantil,max,média
ID,1.0,611.00,1222.0,1894.00,4162.0,1341.966638
Agricultural Household indicator,0.0,0.00,0.0,1.00,2.0,0.429858
Household Head Age,9.0,41.00,51.0,61.00,99.0,51.381451
Total Number of Family members,1.0,3.00,4.0,6.00,26.0,4.635182
Members with age less than 5 year old,0.0,0.00,0.0,1.00,5.0,0.410216
Members with age 5 - 17 years old,0.0,0.00,1.0,2.00,8.0,1.362579
Total number of family members employed,0.0,0.00,1.0,2.00,8.0,1.272699
House Floor Area,5.0,25.00,40.0,70.00,998.0,55.603360
House Age,0.0,10.00,17.0,26.00,200.0,20.125505
Number of bedrooms,0.0,1.00,2.0,2.00,9.0,1.788008
Electricity,0.0,1.00,1.0,1.00,1.0,0.890815
Total Household Income,11285.0,104895.00,164079.5,291138.50,11815988.0,247555.584802
Total Food Expenditure,2947.0,51017.25,72985.5,105635.50,827565.0,85099.158194
Bread and Cereals Expenditure,0.0,16556.00,23324.0,31439.00,765864.0,25133.723642
Total Rice Expenditure,0.0,11020.00,16620.0,23920.00,758326.0,18195.825005
Meat Expenditure,0.0,3353.75,7332.5,14292.00,261566.0,10540.072574
Total Fish and marine products Expenditure,0.0,5504.00,8695.0,13388.00,188208.0,10529.318337
Fruit Expenditure,0.0,1024.75,1820.0,3100.00,273769.0,2550.474990
Vegetables Expenditure,0.0,2873.00,4314.0,6304.25,74800.0,5006.918568
Restaurant and hotels Expenditure,0.0,1930.00,7314.0,19921.25,725296.0,15436.566075
Alcoholic Beverages Expenditure,0.0,0.00,270.0,1299.25,59592.0,1085.068121
Tobacco Expenditure,0.0,0.00,300.0,3146.50,139370.0,2294.736183
"Clothing, Footwear and Other Wear Expenditure",0.0,1365.00,2740.0,5580.00,356750.0,4954.621076
Housing and water Expenditure,1950.0,13080.00,22992.0,45948.00,2188560.0,38375.467793
Imputed House Rental Value,0.0,6000.00,10800.0,24000.00,1920000.0,20921.544627
Medical Care Expenditure,0.0,300.00,1125.0,4680.00,1049275.0,7160.230936
Transportation Expenditure,0.0,2412.00,6036.0,13776.00,834996.0,11806.344454
Communication Expenditure,0.0,564.00,1506.0,3900.00,149940.0,4095.492057
Education Expenditure,0.0,0.00,880.0,4060.00,731000.0,7473.500481
Miscellaneous Goods and Services Expenditure,0.0,3792.00,6804.0,14154.00,553560.0,12522.071635
Special Occasions Expenditure,0.0,0.00,1500.0,5000.00,556700.0,5265.726001
Crop Farming and Gardening expenses,0.0,0.00,0.0,6312.75,3729973.0,13816.859715
Total Income from Entrepreneurial Acitivites,0.0,0.00,19222.0,65968.75,9234485.0,54376.239264
Number of Television,0.0,0.00,1.0,1.00,6.0,0.856875
Number of CD/VCD/DVD,0.0,0.00,0.0,1.00,5.0,0.435225
Number of Component/Stereo set,0.0,0.00,0.0,0.00,5.0,0.162141
Number of Refrigerator/Freezer,0.0,0.00,0.0,1.00,5.0,0.394184
Number of Washing Machine,0.0,0.00,0.0,1.00,3.0,0.319806
Number of Airconditioner,0.0,0.00,0.0,0.00,5.0,0.129814
"Number of Car, Jeep, Van",0.0,0.00,0.0,0.00,5.0,0.081215
Number of Landline/wireless telephones,0.0,0.00,0.0,0.00,4.0,0.060610
Number of Cellular phone,0.0,1.00,2.0,3.00,10.0,1.905738
Number of Personal Computer,0.0,0.00,0.0,0.00,6.0,0.315015
Number of Stove with Oven/Gas Range,0.0,0.00,0.0,0.00,3.0,0.135038
Number of Motorized Banca,0.0,0.00,0.0,0.00,3.0,0.013119
Number of Motorcycle/Tricycle,0.0,0.00,0.0,0.00,5.0,0.289885

## Removendo outliners

Os outliners são dados com valores numéricos que extrapolam o padrão da distribuição da amostra. Para a identificação desses valores foi utilizada a técnica do interquartil (IQR), determinado pela diferença entre o primeiro quartil (Q1) e terceiro (Q3).

Nessa abordagem, valores acima de <em>Q3 + (1,5 * IQR)</em> ou abaixo de <em>Q1 - (1,5 * IQR)</em> são descartados.

Para a remoção desses valores utilizou-se a função <em>remover_outliners</em> definida em <em>analine_quantitativa.py</em>.

Reproduzindo os indicadores anteriores sem os valores outliners encontra-se a tabela abaixo:

In [4]:
from analise_quantitativa import remover_outliners

df_sem_outliners = remover_outliners(df)
gerar_estatisticas_quantitativas(df_sem_outliners, 
                                estimadores=estimadores,
                                map_nomes_estimadores=map_nomes_estimadores)

,min,primeiro_quantil,mediana,terceiro_quantil,max,média
ID,1.0,602.00,1203.0,1856.00,3818.0,1299.596116
Agricultural Household indicator,0.0,0.00,0.0,1.00,2.0,0.429858
Household Head Age,13.0,41.00,51.0,61.00,91.0,51.314278
Total Number of Family members,1.0,3.00,4.0,6.00,10.0,4.511094
Members with age less than 5 year old,0.0,0.00,0.0,1.00,2.0,0.370724
Members with age 5 - 17 years old,0.0,0.00,1.0,2.00,5.0,1.310314
Total number of family members employed,0.0,0.00,1.0,2.00,5.0,1.252930
House Floor Area,5.0,24.00,40.0,60.00,136.0,45.176834
House Age,0.0,10.00,16.0,25.00,50.0,18.441981
Number of bedrooms,0.0,1.00,2.0,2.00,3.0,1.610049
Electricity,1.0,1.00,1.0,1.00,1.0,1.000000
Total Household Income,11285.0,101150.00,153175.0,250795.00,570492.0,189885.704556
Total Food Expenditure,2947.0,49957.50,70885.0,99962.50,187504.0,77789.375916
Bread and Cereals Expenditure,0.0,16373.75,22989.5,30732.25,53758.0,24035.446224
Total Rice Expenditure,0.0,10880.00,16290.0,23332.00,43260.0,17296.558959
Meat Expenditure,0.0,3181.75,6810.0,12900.00,30696.0,8855.653907
Total Fish and marine products Expenditure,0.0,5376.00,8374.0,12539.75,25200.0,9381.854687
Fruit Expenditure,0.0,975.00,1691.0,2740.50,6212.0,2011.625507
Vegetables Expenditure,0.0,2810.00,4185.0,5980.00,11450.0,4558.640780
Restaurant and hotels Expenditure,0.0,1668.00,6204.0,15931.00,46900.0,10464.450001
Alcoholic Beverages Expenditure,0.0,0.00,170.0,942.50,3248.0,576.789979
Tobacco Expenditure,0.0,0.00,0.0,2080.00,7864.0,1335.506815
"Clothing, Footwear and Other Wear Expenditure",0.0,1260.00,2435.0,4515.00,11900.0,3235.638301
Housing and water Expenditure,1950.0,12577.50,21102.0,39004.50,95250.0,28434.724851
Imputed House Rental Value,0.0,5400.00,9000.0,18000.00,51000.0,13555.664876
Medical Care Expenditure,0.0,245.00,800.0,2590.50,11250.0,1918.836262
Transportation Expenditure,0.0,2220.00,5304.0,11124.00,30822.0,7680.944966
Communication Expenditure,0.0,480.00,1200.0,2616.00,8904.0,1880.531637
Education Expenditure,0.0,0.00,510.0,1600.00,10150.0,1303.191307
Miscellaneous Goods and Services Expenditure,0.0,3564.00,6084.0,11100.00,29688.0,8265.863790
Special Occasions Expenditure,0.0,0.00,1000.0,3500.00,12500.0,2329.450125
Crop Farming and Gardening expenses,0.0,0.00,0.0,0.00,15780.0,843.744789
Total Income from Entrepreneurial Acitivites,0.0,0.00,14828.5,54426.25,164918.0,32419.743648
Number of Television,0.0,0.00,1.0,1.00,2.0,0.809573
Number of CD/VCD/DVD,0.0,0.00,0.0,1.00,2.0,0.422841
Number of Component/Stereo set,0.0,0.00,0.0,0.00,0.0,0.000000
Number of Refrigerator/Freezer,0.0,0.00,0.0,1.00,2.0,0.386559
Number of Washing Machine,0.0,0.00,0.0,1.00,2.0,0.319096
Number of Airconditioner,0.0,0.00,0.0,0.00,0.0,0.000000
"Number of Car, Jeep, Van",0.0,0.00,0.0,0.00,0.0,0.000000
Number of Landline/wireless telephones,0.0,0.00,0.0,0.00,0.0,0.000000
Number of Cellular phone,0.0,1.00,2.0,3.00,6.0,1.831481
Number of Personal Computer,0.0,0.00,0.0,0.00,0.0,0.000000
Number of Stove with Oven/Gas Range,0.0,0.00,0.0,0.00,0.0,0.000000
Number of Motorized Banca,0.0,0.00,0.0,0.00,0.0,0.000000
Number of Motorcycle/Tricycle,0.0,0.00,0.0,0.00,0.0,0.000000

## Tratando valores faltantes

Ao remover os outliners a tabela retorna com valores vazios. Existem diversos métodos estatísticos de tratar esses dados, nesse trabalho optou-se por substituir os valores vazios pela mediana da amostra, assim não variando significativamente os quantis e média.

Para a substituição foi utilizado a função <em>preencher_com_mediana</em> definida em <em>analise_quantitativa.py</em>

Repetindo a análise substituido os valores outliers pelo valor da mediana, encontra-se a tabela abaixo:

In [5]:
from analise_quantitativa import gerar_estatisticas_quantitativas, preencher_com_mediana

df_mediana = preencher_com_mediana(df_sem_outliners)

gerar_estatisticas_quantitativas(df_mediana,
                                estimadores=estimadores,
                                map_nomes_estimadores=map_nomes_estimadores)

,min,primeiro_quantil,mediana,terceiro_quantil,max,média
ID,1.0,611.00,1203.0,1843.00,3818.0,1298.070816
Agricultural Household indicator,0.0,0.00,0.0,1.00,2.0,0.429858
Household Head Age,13.0,41.00,51.0,61.00,91.0,51.313764
Total Number of Family members,1.0,3.00,4.0,6.00,10.0,4.502889
Members with age less than 5 year old,0.0,0.00,0.0,1.00,2.0,0.365468
Members with age 5 - 17 years old,0.0,0.00,1.0,2.00,5.0,1.307072
Total number of family members employed,0.0,0.00,1.0,2.00,5.0,1.251950
House Floor Area,5.0,25.00,40.0,60.00,136.0,44.859450
House Age,0.0,10.00,16.0,25.00,50.0,18.348931
Number of bedrooms,0.0,1.00,2.0,2.00,3.0,1.634604
Electricity,1.0,1.00,1.0,1.00,1.0,1.000000
Total Household Income,11285.0,104895.00,153175.0,238776.75,570492.0,187101.296938
Total Food Expenditure,2947.0,51017.25,70885.0,98095.00,187504.0,77482.082659
Bread and Cereals Expenditure,0.0,16556.00,22989.5,30510.00,53758.0,24009.665150
Total Rice Expenditure,0.0,11020.00,16290.0,23130.00,43260.0,17272.354443
Meat Expenditure,0.0,3353.75,6810.0,12446.25,30696.0,8751.066749
Total Fish and marine products Expenditure,0.0,5504.00,8374.0,12285.25,25200.0,9336.294531
Fruit Expenditure,0.0,1024.75,1691.0,2640.00,6212.0,1989.761169
Vegetables Expenditure,0.0,2873.00,4185.0,5885.00,11450.0,4543.207322
Restaurant and hotels Expenditure,0.0,1930.00,6204.0,14822.50,46900.0,10147.254453
Alcoholic Beverages Expenditure,0.0,0.00,170.0,840.00,3248.0,540.511410
Tobacco Expenditure,0.0,0.00,0.0,1810.00,7864.0,1219.360413
"Clothing, Footwear and Other Wear Expenditure",0.0,1365.00,2435.0,4204.25,11900.0,3163.098281
Housing and water Expenditure,1950.0,13080.00,21102.0,37080.00,95250.0,27913.329001
Imputed House Rental Value,0.0,6000.00,9000.0,18000.00,51000.0,13185.127816
Medical Care Expenditure,0.0,300.00,800.0,2150.00,11250.0,1773.056831
Transportation Expenditure,0.0,2412.00,5304.0,10404.00,30822.0,7485.154824
Communication Expenditure,0.0,564.00,1200.0,2340.00,8904.0,1794.924610
Education Expenditure,0.0,0.00,510.0,1290.00,10150.0,1165.398565
Miscellaneous Goods and Services Expenditure,0.0,3792.00,6084.0,10320.00,29688.0,8058.149769
Special Occasions Expenditure,0.0,0.00,1000.0,3000.00,12500.0,2195.013865
Crop Farming and Gardening expenses,0.0,0.00,0.0,0.00,15780.0,675.235485
Total Income from Entrepreneurial Acitivites,0.0,0.00,14828.5,51030.50,164918.0,31293.402706
Number of Television,0.0,0.00,1.0,1.00,2.0,0.813162
Number of CD/VCD/DVD,0.0,0.00,0.0,1.00,2.0,0.420927
Number of Component/Stereo set,0.0,0.00,0.0,0.00,0.0,0.000000
Number of Refrigerator/Freezer,0.0,0.00,0.0,1.00,2.0,0.385591
Number of Washing Machine,0.0,0.00,0.0,1.00,2.0,0.319011
Number of Airconditioner,0.0,0.00,0.0,0.00,0.0,0.000000
"Number of Car, Jeep, Van",0.0,0.00,0.0,0.00,0.0,0.000000
Number of Landline/wireless telephones,0.0,0.00,0.0,0.00,0.0,0.000000
Number of Cellular phone,0.0,1.00,2.0,3.00,6.0,1.833550
Number of Personal Computer,0.0,0.00,0.0,0.00,0.0,0.000000
Number of Stove with Oven/Gas Range,0.0,0.00,0.0,0.00,0.0,0.000000
Number of Motorized Banca,0.0,0.00,0.0,0.00,0.0,0.000000
Number of Motorcycle/Tricycle,0.0,0.00,0.0,0.00,0.0,0.000000

***

# Análise de Variáveis Qualitativa

Para análise das variáveis quantitativas foram explorados os seguintes índices:
- Frequência Absoluta;
- Frequência Absoluta Acumulada;
- Frequência Relativa;
- Frequência Relativa Acumulada;

Os dados foram gerados a partir da função <em>analisar_variaveis_qualitativas</em> em <em>qualitativas.py</em>.

In [6]:
from qualitativas import analisar_variaveis_qualitativas
from IPython.display import display

for variavel_analisada in analisar_variaveis_qualitativas(df):
    display(variavel_analisada.analise)
    print()

,Frequência Absoluta,Frequência Absoluta Acumulada,Frequência Relativa,Frequência Relativa Acumulada
Region,,,,
A,1725,1725,0.041522,0.041522
B,1782,3507,0.042894,0.084417
C,2851,6358,0.068626,0.153043
D,2472,8830,0.059503,0.212546
E,2248,11078,0.054111,0.266657
F,3237,14315,0.077917,0.344574
G,2219,16534,0.053413,0.397988
H,4162,20696,0.100183,0.498171
I,2541,23237,0.061164,0.559335
J,1887,25124,0.045422,0.604756
K,2446,27570,0.058877,0.663634
L,2337,29907,0.056254,0.719887
M,2348,32255,0.056518,0.776406
N,4130,36385,0.099413,0.875818
O,1249,37634,0.030065,0.905883
P,2122,39756,0.051078,0.956961
Q,1788,41544,0.043039,1.000000

,Frequência Absoluta,Frequência Absoluta Acumulada,Frequência Relativa,Frequência Relativa Acumulada
Main Source of Income,,,,
Enterpreneurial Activities,10320,10320,0.248411,0.248411
Other sources of Income,10836,21156,0.260832,0.509243
Wage/Salaries,20388,41544,0.490757,1.000000

,Frequência Absoluta,Frequência Absoluta Acumulada,Frequência Relativa,Frequência Relativa Acumulada
Household Head Sex,,,,
Female,9061,9061,0.218106,0.218106
Male,32483,41544,0.781894,1.000000

,Frequência Absoluta,Frequência Absoluta Acumulada,Frequência Relativa,Frequência Relativa Acumulada
Household Head Marital Status,,,,
Annulled,11,11,0.000265,0.000265
Divorced/Separated,1425,1436,0.034301,0.034566
Married,31347,32783,0.754549,0.789115
Single,1942,34725,0.046746,0.835861
Unknown,1,34726,0.000024,0.835885
Widowed,6818,41544,0.164115,1.000000

,Frequência Absoluta,Frequência Absoluta Acumulada,Frequência Relativa,Frequência Relativa Acumulada
Household Head Class of Worker,,,,
Employer in own family-operated farm or business,2581,2581,0.075894,0.075894
Self-employed wihout any employee,13766,16347,0.404787,0.480681
Worked for government/government corporation,2820,19167,0.082922,0.563603
Worked for private establishment,13731,32898,0.403758,0.967361
Worked for private household,811,33709,0.023847,0.991208
Worked with pay in own family-operated farm or business,14,33723,0.000412,0.991620
Worked without pay in own family-operated farm or business,285,34008,0.008380,1.000000

,Frequência Absoluta,Frequência Absoluta Acumulada,Frequência Relativa,Frequência Relativa Acumulada
Type of Household,,,,
Extended Family,12932,12932,0.311284,0.311284
Single Family,28445,41377,0.684696,0.995980
Two or More Nonrelated Persons/Members,167,41544,0.004020,1.000000

,Frequência Absoluta,Frequência Absoluta Acumulada,Frequência Relativa,Frequência Relativa Acumulada
Type of Building/House,,,,
Commercial/industrial/agricultural building,51,51,0.001228,0.001228
Duplex,1084,1135,0.026093,0.027320
Institutional living quarter,9,1144,0.000217,0.027537
Multi-unit residential,1329,2473,0.031990,0.059527
Other building unit,2,2475,0.000048,0.059575
Single house,39069,41544,0.940425,1.000000

,Frequência Absoluta,Frequência Absoluta Acumulada,Frequência Relativa,Frequência Relativa Acumulada
Type of Walls,,,,
Light,8267,8267,0.198994,0.198994
NOt applicable,12,8279,0.000289,0.199283
Quite Strong,3487,11766,0.083935,0.283218
Salvaged,456,12222,0.010976,0.294194
Strong,27739,39961,0.667702,0.961896
Very Light,1583,41544,0.038104,1.000000

***

# Separando os 10% com maior renda

Foram selecionados os 10% dos dados que correspondem as pessoas com maior renda familiar (coluna _Total Household Income_).

Utilizada a função <em>salvar_top10</em> de <em>top10.py</em>.

In [7]:
from top10 import salvar_top10
import os

destino_arquivo = os.path.join('.', 'resultados', 'top10_income.csv')

top10 = salvar_top10(df, 'Total Household Income', destino_arquivo)
top10.head()

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,354,C,Other sources of Income,0,Male,55,Married,Employer in own family-operated farm or business,Single Family,5,...,1,1,3,4,0,5,4,1,0,2
1,7,C,Other sources of Income,0,Male,55,Married,Employer in own family-operated farm or business,Extended Family,8,...,2,0,4,2,1,8,4,1,0,2
2,1760,L,Enterpreneurial Activities,0,Male,45,Married,Employer in own family-operated farm or business,Extended Family,5,...,1,1,3,4,2,8,4,2,0,1
3,596,I,Enterpreneurial Activities,0,Male,46,Married,Self-employed wihout any employee,Single Family,3,...,1,1,1,2,0,4,2,1,0,3
4,3222,N,Enterpreneurial Activities,2,Male,75,Widowed,Employer in own family-operated farm or business,Single Family,7,...,2,2,5,3,1,5,2,1,0,0

***

# Gerando _dummies_ para variáveis categóricas

Utilizada a função <em>criar_dummies</em> de <em>dummies.py</em>.

In [8]:
from dummies import criar_dummies

colunas_categoricas = ['Main Source of Income', 'Household Head Sex', 'Type of Household']

## Dummies gerados

In [9]:
# a função possui a opção de retornar apenas as colunas dos dummies,
# para facilitar a visualização (verificar docstring).
df_completo = False

dummies = criar_dummies(df, colunas_categoricas, df_completo)

dummies.head()

,Main Source of Income_Enterpreneurial Activities,Main Source of Income_Other sources of Income,Main Source of Income_Wage/Salaries,Household Head Sex_Female,Household Head Sex_Male,Type of Household_Extended Family,Type of Household_Single Family,Type of Household_Two or More Nonrelated Persons/Members
0,0,0,1,1,0,1,0,0
1,0,0,1,0,1,0,1,0
2,0,0,1,0,1,0,1,0
3,0,0,1,0,1,0,1,0
4,0,0,1,0,1,0,1,0

## Tabela completa com os dummies

In [10]:
df_completo = True

df_com_dummies = criar_dummies(df, colunas_categoricas, df_completo)

df_com_dummies.head()

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,...,Number of Motorized Banca,Number of Motorcycle/Tricycle,Main Source of Income_Enterpreneurial Activities,Main Source of Income_Other sources of Income,Main Source of Income_Wage/Salaries,Household Head Sex_Female,Household Head Sex_Male,Type of Household_Extended Family,Type of Household_Single Family,Type of Household_Two or More Nonrelated Persons/Members
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,...,0,1,0,0,1,1,0,1,0,0
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,...,0,2,0,0,1,0,1,0,1,0
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,...,0,0,0,0,1,0,1,0,1,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,...,0,0,0,0,1,0,1,0,1,0
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,...,0,1,0,0,1,0,1,0,1,0

***

# Comparando médias

Abaixo a tabela compara a média das variáveis entre todas as famílias e as 10% de maior renda familiar.

Foi usado a função <em>compara_media_df</em> de <em>analise_maior_renda.py</em>.

In [11]:
from analise_maior_renda import compara_media_df

df_completo = True
df_top10_com_dummies = criar_dummies(top10, colunas_categoricas, df_completo)

compara_media_df(df_com_dummies, df_top10_com_dummies)

,Total,10%_Maior_Renda
ID,1341.966638,1504.828358
Agricultural Household indicator,0.429858,0.481704
Household Head Age,51.381451,54.529369
Total Number of Family members,4.635182,5.266249
Members with age less than 5 year old,0.410216,0.378430
Members with age 5 - 17 years old,1.362579,1.086904
Total number of family members employed,1.272699,1.884208
House Floor Area,55.603360,104.731343
House Age,20.125505,23.960279
Number of bedrooms,1.788008,2.913818
Electricity,0.890815,0.996148
Total Household Income,247555.584802,849767.113866
Total Food Expenditure,85099.158194,170976.518296
Bread and Cereals Expenditure,25133.723642,33388.936928
Total Rice Expenditure,18195.825005,21845.964372
Meat Expenditure,10540.072574,25706.456187
Total Fish and marine products Expenditure,10529.318337,17805.465575
Fruit Expenditure,2550.474990,6041.734954
Vegetables Expenditure,5006.918568,8064.967501
Restaurant and hotels Expenditure,15436.566075,46543.924892
Alcoholic Beverages Expenditure,1085.068121,1821.260472
Tobacco Expenditure,2294.736183,2711.982667
"Clothing, Footwear and Other Wear Expenditure",4954.621076,16316.663457
Housing and water Expenditure,38375.467793,122875.792489
Imputed House Rental Value,20921.544627,72655.535388
Medical Care Expenditure,7160.230936,27861.669234
Transportation Expenditure,11806.344454,41869.622051
Communication Expenditure,4095.492057,17619.803081
Education Expenditure,7473.500481,31755.300674
Miscellaneous Goods and Services Expenditure,12522.071635,43301.495908
Special Occasions Expenditure,5265.726001,18565.969186
Crop Farming and Gardening expenses,13816.859715,22878.457631
Total Income from Entrepreneurial Acitivites,54376.239264,171647.616273
Number of Television,0.856875,1.600867
Number of CD/VCD/DVD,0.435225,0.905874
Number of Component/Stereo set,0.162141,0.495426
Number of Refrigerator/Freezer,0.394184,1.038276
Number of Washing Machine,0.319806,0.868801
Number of Airconditioner,0.129814,0.774434
"Number of Car, Jeep, Van",0.081215,0.557053
Number of Landline/wireless telephones,0.060610,0.332932
Number of Cellular phone,1.905738,3.824266
Number of Personal Computer,0.315015,1.476408
Number of Stove with Oven/Gas Range,0.135038,0.498556
Number of Motorized Banca,0.013119,0.013722
Number of Motorcycle/Tricycle,0.289885,0.625181
Main Source of Income_Enterpreneurial Activities,0.248411,0.161772
Main Source of Income_Other sources of Income,0.260832,0.268175
Main Source of Income_Wage/Salaries,0.490757,0.570053
Household Head Sex_Female,0.218106,0.264564
Household Head Sex_Male,0.781894,0.735436
Type of Household_Extended Family,0.311284,0.455705
Type of Household_Single Family,0.684696,0.536591
Type of Household_Two or More Nonrelated Persons/Members,0.004020,0.007703

In [13]:
%%capture
!jupyter nbconvert --to html --no-input --no-prompt principal.ipynb